/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables CSS */
:root {
  --font-family: "Inter", sans-serif;
  --font-size-base: clamp(1.4rem, 1.6vw, 1.6rem); /* 16px */
  --font-size-large: clamp(2rem, 2.5vw, 2.5rem); /* 25px */
  --font-size-xlarge: clamp(4rem, 8vw, 8rem); /* 80px */
  --color-primary: #2f574e;
  --color-secondary: #fd9b5c;
  --color-accent: #ffcf5c;
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-shadow: rgba(0, 0, 0, 0.397);
  --color-border: rgba(255, 255, 255, 0.3);
  --color-bg-transparent: rgba(255, 255, 255, 0.2);
  --color-bg-about: #fd9b5c;
  --color-bg-passion: #2f574e;
  --transition-duration: 0.5s;
  --border-radius: 30px;
  --box-shadow: 0 4px 30px var(--color-shadow);
  --backdrop-filter: blur(10px);
  --padding-small: clamp(1rem, 2vw, 2rem);
  --padding-medium: clamp(2rem, 3vw, 3rem);
  --padding-large: clamp(3rem, 4vw, 4rem);
  --container-width: min(90%, 1200px);
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-base);
  opacity: 0.8;
  background-image: radial-gradient(
    var(--color-primary) 0.5px,
    var(--color-bg) 0.5px
  );
  background-size: 10px 10px;
  --sb-track-color: #ffffff;
  --sb-thumb-color: #fd9b5c;
  --sb-size: 14px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
/* Header Styles */
header {
  margin-top: 10px;
  height: clamp(5rem, 6vh, 6rem); /* 100px */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: var(--padding-small);
  padding-top: 0.8rem;
  top: 0;
  z-index: 1000;
}

nav {
  height: 50px;
  width: min(345px, 90%);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-transparent);
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  border: 1px solid var(--color-border);
  padding: var(--padding-small);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--font-size-base);
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--color-accent);
}

/* Section Styles */
#accueil {
  height: 100vh;
  padding: 3rem; /* 30px */
  display: flex;
  justify-content: center;
  align-items: center;
}

.accueil-title {
  padding-top: 1%;
  color: var(--color-text);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.accueil-title h1 {
  font-size: var(--font-size-xlarge);
  text-align: center;
  padding: var(--padding-medium);
  max-width: 100%;
}

.accueil-title p {
  width: min(70%, 800px);
  font-size: var(--font-size-large);
  text-align: center;
  margin: 1.5rem 0;
  white-space: pre-wrap;
  overflow: hidden;
  padding: var(--padding-small);
}
.svg-1 {
  position: fixed;
  top: 1%;
  left: 1%;
  transition: transform 0.5s ease;
  cursor: pointer;
  width: clamp(40px, 5vw, 84px);
  height: clamp(40px, 5vw, 74px);
}
.svg-2 {
  position: fixed;
  bottom: 1%;
  right: 1%;
  transition: transform 0.5s ease;
  cursor: pointer;
  width: clamp(40px, 5vw, 84px);
  height: clamp(40px, 5vw, 74px);
}
/* About Section */
#about,
#passion {
  height: auto;
  padding: var(--padding-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about-container {
  background-color: var(--color-bg-about);
  box-shadow: var(--box-shadow); /* Ajout de l'effet d'ombre */
}

.about-container {
  height: 100%;
  width: var(--container-width);
  color: var(--color-bg);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.8;
}

.about-description {
  text-align: center;
  margin-top: 2%;
  font-size: var(--font-size-large);
  font-weight: 900;
  width: min(90%, 800px);
  margin: var(--padding-small);
}

/* Passion Section */
.passion-container {
  height: 100%;
  width: var(--container-width);
  color: var(--color-bg);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-passion);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: var(--box-shadow); /* Ajout de l'effet d'ombre */
}

.passion-description {
  text-align: justify;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: min(90%, 800px);
  margin: var(--padding-small);
}

/* Courses Box */
.ag-format-container {
  width: var(--container-width);
  margin: 0 auto;
}

.ag-courses_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 2rem;
  padding: var(--padding-medium);
}

.ag-courses_item {
  width: 100%;
  margin: 0;
  /* aspect-ratio: 4/2; */
  overflow: hidden;
  border-radius: 28px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.ag-courses-item_link {
  height: 100%;
  text-decoration: none;
  display: block;
  padding: 30px 20px;
  background-color: var(--color-bg);
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: var(--color-bg);
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: auto;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: var(--font-size-large);
  color: var(--color-text);
  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color var(--transition-duration) ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all var(--transition-duration) ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    gap: 1rem;
  }

  nav ul li a {
    font-size: var(--font-size-base);
  }

  .accueil-title p {
    width: min(90%, 600px);
  }

  .about-description,
  .passion-description {
    width: 100%;
  }
}

@media (max-width: 480px) {
  nav {
    width: 95%;
  }

  .accueil-title h1 {
    padding: var(--padding-small);
  }

  .ag-courses_box {
    grid-template-columns: 1fr;
  }

  .ag-courses-item_title {
    font-size: calc(var(--font-size-base) * 1.2);
  }

  .svg-1,
  .svg-2 {
    width: clamp(30px, 4vw, 40px);
    height: clamp(30px, 4vw, 40px);
  }
}

/* Ajustements pour les très grands écrans */
@media (min-width: 1440px) {
  :root {
    --container-width: min(80%, 1400px);
  }

  .ag-courses_box {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Ajustements pour l'orientation paysage sur mobile */
@media (max-height: 500px) and (orientation: landscape) {
  #accueil,
  #about,
  #passion {
    min-height: 120vh;
  }

  .accueil-title {
    padding-top: var(--padding-large);
  }
}
