@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: "Inter", sans-serif;
}
body {
  background-color: #ecebea;
  font-size: 1.6rem; /* 16px */
}
header {
  height: 10rem; /* 100px */
  background-color: #926161;
  padding: 2rem; /* 20px */
}
#presentation {
  height: calc(100vh - 10rem); /* 100vh - 100px */
  background-color: #d6ecb8;
  padding: 3rem; /* 30px */
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation-title {
  padding-top: 5%;
  color: #000000;
  height: 100%;
  width: 50%;
}
.presentation-title h1 {
  font-size: 10rem; /* 36px */
}
.presentation-title p {
  width: 70%;
  font-size: 2rem; /* 16px */
  text-align: justify;
  margin: 1.5rem 0;
}
.presentation-image {
  background-color: #2f574e;
  border-radius: 7rem; /* 70px */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  height: 100%;
  width: 50%;
}

.image { 
    width: 100%;
    height: 100%;
    background-color: #fff;

  }
@media (max-width: 600px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}